<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no" />

	<!-- css -->
	<link href="/css/reset.css" type=text/css rel=stylesheet>
	<link href="/css/flanet.css" type=text/css rel=stylesheet>

	<script type="text/javascript" src="/lib/jquery-1.7.2.js"></script>
	
	<!-- dev library -->
	<script type="text/javascript" src="/lib/dev/kinetic-v4.7.4.min.js"></script>
	<script type="text/javascript" src="/lib/box2djs.0.2.0.jquery.min.js"></script>

	<!-- flanet framework -->
	<script type="text/javascript" src='/lib/dev/flanet-v1.0.6.js'></script>
</head>
<body>
	<!-- initialize flanet stage -->
	<div id="stage"></div>
	<script>
		var container = $('#stage');
		container.width($(window).width());
		container.height($(window).height());
		var width = container.width();
		var height = container.height();
		var x = width * .5;
		var y = height * .5;
		var scale = 50;
		//flanet initialize
		Flanet.init({ container : 'stage' });
	</script>
	<div class="blur_wrapper">
		<canvas class="blurred" style="position:fixed;top:0;left:0"></canvas>
	</div>
	<div class="header">
		<h2>
			Welcome to Flanet Project. - Debug mode
		</h2>
		<a href="/">
			&gt; Link
		</a>
	</div>

	<!-- initialize script -->
	<script src="/js/init.js"></script>
	<!-- Flanet start -->

	<script>
		(function(){
			
			$('canvas.blurred')[0].width = $('.header').width();
			$('canvas.blurred')[0].height = 53;

			var c1 = $('.kineticjs-content').find('canvas');
			var ctx1 = c1[0].getContext('2d');
			var c2 = $('.blur_wrapper').find('canvas');
			var ctx2 = c2[0].getContext('2d');

			Flanet.animation_extra = function(){
				ctx2.putImageData(ctx1.getImageData(0, 0, c2.width(), c2.height()), 0, 0);
			};
		})();
	</script>

	<script>
		Flanet.start();
	</script>
	<div class="copyright"><p>Flanet v1.0.5<br/>copyright(c) juwon.lee all rights reserved.</p></div>
</body>
</html>
