<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no" />
	
	<!-- css -->
	<link href="/stylesheets/reset.css" type=text/css rel=stylesheet>
	<link href="/stylesheets/flanet.css" type=text/css rel=stylesheet>

	<!-- basic library -->
	<script type="text/javascript" src='/scripts/kinetic-v3.9.2.js'></script>
	<script type="text/javascript" src="/scripts/jquery-1.7.2.js"></script>
	<script type="text/javascript" src='/scripts/box2djs.0.2.0.jquery.min.js'></script>

	<!-- flanet library -->
	<script type="text/javascript" src='/scripts/flanet-v1.0.5.js'></script>

	<!-- testing module -->
	<script type="text/javascript" src='/scripts/test2.js'></script>
</head>
<body>
	<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<% } else { %>
	<h2>Hello, <%= user.username %>.</h2>
	<% } %>
</body>
</html>