body{
	padding:0;
	margin:0;
	color:#333;
	font-weight:bold;
	font-size:20px;
}
a{
	text-decoration:none;
	color:#666;
	font-size:12px;
}
#title{
	margin:10px;
	padding:0;
	font-size:20px;
	font-family:Arial Black;
	text-align:center;
}
#stage{
	position:fixed;
	top:0;
	padding:0;
	margin:0;
	z-index:10;
}
#container{
	margin: 0 auto;
	padding:0;
}
#status{
	font-size:12px;
	font-family:Arial Narrow;
	margin: auto;
	padding: 0;
}
.header{
	padding:10px;
	position:fixed;
	top:0;
	width:100%;
	background:rgba(255,255,255,.5);
	z-index:99
}
.copyright{
	position:fixed;
	width:100%;
	background:rgba(255,255,255,.5);
	bottom:0;
	color:#ddd;
	font-size:10px;
	width:100%;
	text-align:center;
	padding:10px 0;
	z-index:98;
}
